
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
   
    
}




.logo
{
    position: absolute;
    left: 60px;
    top: 10px;
   padding-left: 40px;
   z-index: 2;
    
}
img
{
    border-radius: 40px;
}
span
{
   position: absolute;
    top: 20px;
   padding-left: 20px;
   z-index: 2;
   color: chocolate;
    
 

    
}



body {
    font-family: "Lato", sans-serif;
    transition: background-color 5s;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 3;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .l{
    position:absolute;
    top: 20px;
    left: 1150px;
    padding: 15px;
    border-radius: 20px;
    background-color: silver;
    box-shadow: 2px 2px red;
    color: #111;
    z-index: 2;
 
 text-decoration: solid;
 text-decoration: double;
text-decoration: wavy;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
font-size: 21px ;

cursor: pointer;
text-shadow: 1px 1px #111; 
 


  
    
    
  }
  .l:hover
  { color: aqua;
    border: 20px;
    transition: 0.8s  ;
    z-index: 5;
    height: 70px;
    width: 120px;
  }
  .s{
    position: absolute;
    top: 20px;;
    left: 1300px;
    padding: 15px;
    box-shadow: 3px 3px red;
    border-radius: 20px;
    background-color: black;
    color: white;
    text-shadow: 1px 1px #111;  

 
 text-decoration: solid;
 text-decoration: double;
text-decoration: wavy;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
font-size: 20px ;


cursor: pointer;
z-index: 2;

  
    
    
  }
  span:hover
{
color: white;
border-radius: 20px;

}
.black{
    position:fixed;
    top:0;
    background:#333;
    width:100%;
    height:50px;
    
  }
 .bgvideo
 {display: flex;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  

 }
 .text
 {
 position: absolute;
 top: 200px;
 left: 1000px;
 color: black;
 font-family: 'Poppins',sans-serif;
 font-family: 'Poppins';font-size: 20px;


 font-weight:bold;
 font-size: 40px;
 text-shadow: 1px 1px rebeccapurple;
 }






 .navbar  
 {
 width: 100%;
 height: 92px;
 
 position: fixed;
 z-index: 2;
 transition: 0.5s;  

}

.content
{
  z-index: 1;
  position: relative;

}
.mapss
{
  top:800px;
  position: relative;
  z-index: 1;
  height: 400px;
  width: 30%;
  left: 33%;
  padding: 20px;
  
}






 
 
 
