@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --a:0;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



body {
    background-color: black;
    color: white;
}

.left {
    
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}
.logoo
{
    width: 110px;
}


.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
    
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: -22px;
    padding: 10px 0;

}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
    height: 64px;
    
}

.header>* {
    padding: 15px;
}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h1 {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh; 
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}
.card:hover{
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 88px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}
.nav
{
    position: relative;
    top: 8px;
    display: flex;
    align-items: center;
    height: 24px;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34 34 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 9px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
    font-weight:bold ;
    
}

.loginbtn:hover {
    font-weight: bolder;
    font-size: 17px; 
}
.playbar
{
    position: fixed;
    bottom: 0px;
    background-color: #dbdbdb;
    width: 69.5vw;
    padding: 12px;
    filter: invert(1);
    border-radius: 20px;
    min-height: 40px;
    margin: 16px;
}
.songlist{
   height: 147vw;
 margin-bottom: 44px;
 overflow: scroll;
  
}
.songsbutton
{
    display: flex;
    justify-content: center;
    gap: 16px;
    position: absolute;
    display: contents;
   
}

/* .songlist
{
    width: 25vw;
} */
 .songname
 {
    width: 100px;
 }
.songlist ul{
    padding: 0 10px;
  word-wrap: break-word;
    
}
.songlist ul li{

    list-style-type: decimal;
   display: flex;
   gap: 12px;
   cursor: pointer;
   padding:12px 0 ;
   border: 1px solid white;
   margin: 12px 0;
   padding: 13px;
   border-radius: 5px;
   justify-content: space-between;
   /* width: 280px; */
    
}
.playnow
{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.playnow span{
    font-size: 15px;
    padding: 12px;


    width: 64px;
}

.seekbar
{height: 1px;
    width: 90%;
    border: 2px solid black;
    position:absolute;
    bottom: -2px;
    border-radius: 5px;
margin: 3px 7px;
left: 40px;
cursor: pointer;
}
.circle
{
    width: 15px;
    height: 15px;
    border-radius: 13px ;
    background-color: black;
    position: relative;
    bottom:8px ;
    left: 0.5%;
    transition: left 0.5s
    ;
}
.abovebar
{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.songinfo, .songtime
{
    color:black ;
}
.songinfo{
    width: 200px;
}
.songtime{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .timevol
{ display: flex;
    width: 186px;
    flex-direction: column;
} */

.hamburger
{
    display: none;
}
.close
{
    display: none;
}

@media (max-width: 1400px) {
    .left{
        background-color: red;
        position: absolute;
        left:-120%;
        transition: all 0.3s;
        z-index: 1;
        width: 370px;
        background-color: black;
    }
    .close
    {
        display: block;
    }

    /* .left .close {
        position: absolute;
        left: 20px;
     background-color: #1fdf64;
     height: 100px;
     
     color: #1fdf64;
    } */
    .right
    {
        width: 100vw;
    }
    .left .close {
        width: 50px;
        position: absolute;
        right: 0px;
     
     
    }
    .playbar{
      width: 87vw; 
     
       
        /* bottom: 60px; */
    }
    .hamburger
    {
        display: block;
    }
    .seekbar
    {
        width: 90%;
        left: 15px;
    }
    .songinfo
{
    width: 140px;
    /* overflow-wrap: anywhere; */
}
.card
{
    width: 44vw;
}
.card:hover
{
    cursor: pointer;
    background-color: rgb(151, 145, 145);
    transition: all 0.9s;
}
.cardContainer
{
    margin: 0;
    justify-content: center ;
    max-height: 55vh;
}
.right
{
    margin: 0 ;
}
.abovebar
{
    flex-direction: column;
    align-items: center;
    gap: 23px;
}
.songinfo
{
    width: 279px;
}
.songsbutton
{
    display: flex;
    position: relative;
}

    
}
.volume
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    gap: 5px;
    cursor: pointer;
}
.range input
{
    cursor: pointer;
}
@media (max-width=400px) {
    .cardContainer
    {
        max-height: 50vh;
    }
    
}
