
  
*
{
    /* background-color:black; */
    margin: 0;
    padding: 0;
 font-family: Hachi Maru Pop;
 font-weight: 400;
 font-size: 80px;
 color: beige;
}

.main
{
    position: relative;
}

.container1
{position: absolute;
    display: flex;
    z-index: 2;
    top: 500px;
}
.heading
{display: flex;
    align-items: center;
    position: absolute;
    left: 270px;
    padding: 50px;
    /* border: 2px solid red; */
    width: 900px;
    z-index: 2;
 
 
.
}
.video
{ position: absolute;
    object-fit: contain;
    height: 900px

}
.container
{
    position: absolute;
    top: 300px;
    background-color: transparent;
}