*
{
    margin: 0;
    padding: 0;
}
.container
    {position:absolute;
   
     
        border: 200px solid red;
        background-color:white;
        height: 100vh;
        width: 100vw;
        display: flex;
        

        
    }
    .add
    { 
        background-color: black;
        color: black;
        margin: 100vw;
       
        
    }
