.card
{ margin: 20px;
    border: 2px solid black;
    height: 200px;
    width: 80vw;
    position: relative;
    left: 100px;
    top: 50px;
    background-color:black;

   
}
.image
{
    position: relative;
    left: 20px;
    top: 30px;
    border-radius: 12px;
}
.time
{
   
    color: white;
    position: relative;
    left: 210px;
    border: 2px solid black;
    background-color: black;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    opacity: 0.8;
}
.title
{
    color: white;
    position: absolute;
   left: 300px;
   top: 35px;
  text-decoration: solid;
  text-transform: capitalize;
  text-indent: 10px;
 
  font-size: larger;
}
.channelname
{
    position: absolute;
    color: #aaa;
    left: 307px;
    top: 70px;
    
    
}
.vws
{
    position: absolute;
    color: #aaa;
    left: 430px;
    top: 70px;
}
.yms
{
    position: absolute;
    color: #aaa;
    left: 490px;
    top: 70px; 
}